<p>You have been logged into your reservation: </p>
<%= listing(record.reservation) %> <br/>
<p>You may now connect to <span class="hl"><b>kcgs.isus.emc.com</b></span> with either
<span class="hl">Remote Desktop Connection (RDC)</span> for graphical access to a Windows
Desktop, or <span class="hl">Secure Shell (SSH)</span> for command line access to a Linux
Host.  Access to other lab resources can be achieved from there.<br/>
<p>Thank you.</p>
